<footer class="text-center bg-body-tertiary">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 IFRN (Web Front End):
    <label class="text-body">Desenvolvido por <app-contato [nome]="'Emanuel'" [email]="'e.correia@escolar.ifrn.edu.br'"
        [foto]="'https://avatars.githubusercontent.com/u/165174639?v=4&size=256'" [github]="'Emanueeelz'"></app-contato>
      e <app-contato [nome]="'Marcelo'" [email]="'marcelo tal tal'"
        [foto]="'https://avatars.githubusercontent.com/u/165174662?v=4&size=256'" [github]="'Marcelo'"></app-contato>.</label>
  </div>
</footer>