.card {
    background-color: #fff;
    max-width: 280px;
    margin: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

img {
    max-width: 280px;
    height: auto;
    width: auto\9;
}

.favoritar,
.favoritado{
    color: rgba(0, 0, 0, 0.4);
    font-size: 32px;
    position:absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.favoritado{
    color: red;
}
