<!-- Requisito mínimo = Interpolação {{}} -->
<!-- Requisito mínimo = Property binding -->
<div class="card" style="width: 18rem;">
  <img [src]="imagem" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{titulo}}</h5>
    <p class="card-text">{{descricao}}</p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#contatoModal' + id">
      Visualizar
    </button>
  </div>
  
<!-- Requisito mínimo = Event Binding -->
<!-- Requisito mínimo = @if e @else -->
  @if (favorito) {
    <i class="bi bi-bookmark-heart-fill favoritado" (click)="alterarFavorito()"></i>
    } 
    @else {
      <i class="bi bi-bookmark-heart-fill favoritar" (click)="alterarFavorito()"></i>
    }
</div>

<!-- Requisito mínimo = Interpolação {{}} -->
<!-- Requisito mínimo = Property binding -->
<div class="modal fade" [id]="'contatoModal' + id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" [id]="'exampleModalLabel' + id">{{titulo}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-receita [favoritar]="favorito" [receita]="receita" [imagem]="imagemReal"></app-receita>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
