<div class="container d-flex flex-column justify-content-center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKYFfz0K92H3q9SwbRc82OeWGBoYjpugB1GWI8nkiHrHvko6WS"
        class="img-fluid" alt="...">
    <br /><br />
    Receita de Strawberry Shortcake
    Ingredientes:
    - 4 ovos (separar gemas e claras)
    - 120g de açúcar
    - 120g de farinha de trigo
    - 1 colher de chá de essência de baunilha

    Para o chantilly:
    - 400ml de creme de leite fresco (gelado)
    - 50g de açúcar de confeiteiro
    - 1 colher de chá de essência de baunilha

    Para o recheio e decoração:
    - 300g de morangos frescos
    - Açúcar de confeiteiro

    Modo de Preparo:
    - Bata claras em neve e adicione o açúcar aos poucos até formar merengue.
    - Acrescente as gemas e a baunilha, batendo em velocidade baixa.
    - Misture a farinha peneirada delicadamente e asse em forma untada (180°C por 25-30 minutos).
    - Deixe esfriar e corte ao meio.

    Chantilly:
    - Bata o creme de leite, açúcar e baunilha até formar picos firmes.

    Montagem:
    - Coloque uma camada de bolo, cubra com chantilly e fatias de morango.
    - Adicione a outra camada, cubra com chantilly e decore com morangos inteiros e açúcar de confeiteiro.

    Tempo Total:
    - 1h30min (Preparo: 1h / Montagem: 30min)

    Dificuldade:
    - 3/5 (intermediário)
</div>
